body{
    background: whitesmoke;
}

    .blue-button {
      background-color: #007bff;
      color: white;
      border: none;
      padding: 10px 20px;
      margin-top: 10px;
      cursor: pointer;
      border-radius: 5px;
      font-size: 14px;
    }
    .blue-button:hover {
      background-color: #0056b3;
    } 
